<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Mi primer sitio web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">  
  </head>


<body>
    
  <header class="main-header">
    <div class="main-header-top-bar">
      <img src="img/logo-mercado-liebre.svg" class="logo">
      <div class="flexsearch">
        <div class="flexsearch--wrapper">
          <form class="flexsearch--form" action="#" method="post">
            <div class="flexsearch--input-wrapper">
              <input class="flexsearch--input" type="search" placeholder="Buscar productos,marcas">
            </div>
            <input class="flexsearch--submit" type="submit" value="&#10140;"/>
          </form>
        </div>
    </div>
      <h2 class="copy-header">
        <i class="fas fa-hand-holding-usd"></i>
        Comprá en cuotas y sin tarjeta de crédito
      </h2>
    </div>
    
    <a href= "#" class="iconoDelMedio"> 
      <i class="fas fa-bars"></i>
    </a>
    
    <nav class="main-navbar">
      <ul class="left-navbar">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      
      <ul class="right-navbar">
        <li><a href="#">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
        <li><a href="#">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
        <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
      </ul>
    </nav>
  </header> 
    
    <main> 
      <section>
      <h3 class="titulosUltima">Basado en tu ultima visita</h3>
      <div class="producto">
        <article class="ultimaVisita">
          <img class="cafetera" src="img/cafetera.jpg" width="300px" height="300px">
          <article class="precioDescuentoEnvioUltima">
            <p>$6.770</p>
            <p class="descuento">10% off</p> <i class="fas fa-truck" style="color:lightgreen"></i>
            <h3 class="titulosProductos">Cafetera Moulinex</h3>
          </article>
        </article>
        <article class="ultimaVisita">
          <img class="samsung" src="img/samsung.jpg" width="300px" height="300px">
          <article class="precioDescuentoEnvioUltima">
            <p>$80.000</p>
            <p class="descuento">20% off</p> <i class="fas fa-truck" style="color:lightgreen"></i>
            <h3 class="titulosProductos">Celular Samsung S10</h3>
          </article>
        </article>
      </div>     
      </section>
      <br>
      <section>
      <h3 class="titulosOfertas">Ofertas</h3>
      <div class ="producto">
        <article class ="ofertas">
          <img class="mac" src="img/macbook.jpg" width="300px" height="300px">
          <article class="precioDescuentoEnvioOfertas">
            <p>$230.000</p>
            <p class="descuento">20% off</p> <i class="fas fa-truck" style="color:lightgreen"></i>
            <h3 class="titulosProductos">Macbook Pro</h3>
          </article>
        </article>
        <article class= "ofertas">
          <img class="tele" src="img/tele-samsung.jpg" width="300px" height="300px">
          <article class="precioDescuentoEnvioOfertas">
            <p>$120.000</p>
            <p class="descuento">40% off</p> <i class="fas fa-truck" style="color:lightgreen"></i>
            <h3 class="titulosProductos">Televisor Samsung LCD 70 pulgadas</h3>
          </article>
        </article>

      </div>
      </section>
    </main>
    
  <footer> 
    <section>
      <div class="footer-box"> 
      <i class="fas fa-credit-card fa-2x" style="color:blue"></i>
      <h3 class ="titulosFooter">● Paga con tarjeta de credito o efectivo</h3>
        <p class= "contenidoFooter">Con Mercado Liebre Cash, tenés cuotas sin<br> interés con tarjeta o efectivo en puntos de <br> pago. ¡Y siempre es seguro!</p>
        <i class="fas fa-gift fa-2x" style="color: blue"></i>
      <h3 class ="titulosFooter">● Envios gratis desde $2.500</h3>
        <p class= "contenidoFooter">Solo por estar registrad@ en Mercado Liebre<br> tenés envíos gratis en miles de productos. Es<br> un beneficio de Mercado Puntos.</p>
        <i class="fas fa-user-shield fa-2x" style="color: blue"></i>
      <h3 class ="titulosFooter">● Seguridad, de principio a fin</h3>
        <p class= "contenidoFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre<br>, no hay nada que no puedas hacer, porque<br> estás siempre protegid@.</p>
        <h3 class= "copy">● Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
      </div>
    </section>
  </footer>

    

</body>

</html>

